<!--Time elapsed/Total Time-->

<!--Quiz View-->
    <!--Question Text-->
<div>
    <h3>Question {{getIndex()+1}}: {{getQuestion(getIndex()).getQuestionText()}}</h3>
    <div style="color:purple;">{{ifMarkedForReview()}}</div>
    <!--Marked for Review Text-->
</div>
    <!--Answer 1-4 in column format-->
    <ol type="A">
       <li *ngFor="let answer of getQuestion(getIndex()).getAnswers()">
           <button class="{{answer.getButtonColor()}}" (click)="getQuestion(getIndex()).selectAnswer(answer)">{{answer.getAnswerText()}}</button>
       </li> 
    </ol>


<!--Mark For Review Button-->
<div>
<button (click)="getQuestion(getIndex()).toggleMarkedForReview()">Mark for Review</button>
</div>

<!--First, Prev, Next, Last-->
<button (click)="first()">First</button>
<button (click)="prev()">Previous</button>
<button (click)="next()">Next</button>
<button (click)="last()">Last</button>
